name: Run

permissions:
  id-token: write
  contents: read

on:
  workflow_call:
    inputs:
      version:
        description: "The version (or tag) of the @minecraft/vanilla-data module that will be installed"
        required: false
        type: string
        default: "latest"

      tag:
        description: "Create the publishing tag"
        required: false
        type: string
        default: "latest"

  workflow_dispatch:
    inputs:
      version:
        description: "The version (or tag) of the @minecraft/vanilla-data module that will be installed"
        required: false
        type: string
        default: "latest"

      tag:
        description: "Create the publishing tag"
        required: false
        type: choice
        options:
          - latest
          - preview
        default: "latest"

jobs:
  Run:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: npm
          registry-url: "https://registry.npmjs.org/"

      - name: Check version
        id: check
        continue-on-error: true
        run: if [[ $(npm view bedrock-vanilla-data-inline versions) =~ "'$(npm view @minecraft/vanilla-data@${{ inputs.version }} version)'" ]]; then exit 1; fi

      - name: Install Dependencies
        if: ${{ steps.check.outcome == 'success' }}
        run: |
          npm ci
          mkdir pkg
          npm i @minecraft/vanilla-data@${{ inputs.version }}
          cp -r node_modules/@minecraft/vanilla-data/* pkg
          gh repo clone Mojang/bedrock-samples
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Publish
        if: ${{ steps.check.outcome == 'success' }}
        working-directory: pkg
        run: |
          gulp
          npm publish
